<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartBite - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class = "body-home">
    {% include 'navbar_logged_in.html' %}
    <h2 class="text-center mt-4"> Basic info</h2>
    <div class="d-flex justify-content-center align-items-center vh-50">
    <div class="form-container border border-dark-subtle rounded p-4 mt-2" style="width: 100%; max-width: 800px;">
        <form class="row g-3" action="{{ url_for('profile') }}" method="POST">
            <div class="col-md-7">
                <div class="input-group mb-2">
                    <label class="form-label me-3" style="color: white; font-size: larger;">Username:</label>
                    <input name="username" id="usernameInput" type="text" class="form-control" placeholder="@{{user_info[2]}}" aria-label="Recipient's username" style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;" value="{{user_info[2]}}" readonly>  
                    <button class="btn btn-outline-light" type="button" id="userButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="col-md-5"></div>
            <div class="col-md-4">
                <div class="input-group mb-4">
                    <label class="form-label me-3" style="color: white; font-size: larger;">Age:</label>
                    <input name="age" id="ageInput" type="text" class="form-control" placeholder="{{user_info[5]}}" aria-label="Recipient's age" style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;" value="{{user_info[5]}}" readonly>
                    <button class="btn btn-outline-light" type="button" id="ageButton"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                      </svg></button>
                </div>
            </div>

            
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="input-group mb-4">
                    <label class="form-label me-3" style="color: white; font-size: larger;">Height:</label>
                    <input name="height" id="heightInput" type="text" class="form-control" placeholder="{{user_info[8]}} cm" aria-label="Recipient's height" style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;" value="{{user_info[8]}}"readonly>
                    <button class="btn btn-outline-light" type="button" id="heightButton"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                      </svg></button>
                </div>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="input-group mb-4">
                    <label class="form-label me-3" style="color: white; font-size: larger;">Weight:</label>
                    <input name="weight" id="weightInput"type="text" class="form-control" placeholder="{{user_info[9]}} kg" aria-label="Recipient's weight" style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;" value="{{user_info[9]}}" readonly>
                    <button class="btn btn-outline-light" type="button" id="weightButton"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                      </svg></button>
                </div>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-5">
                <div class="input-group mb-4">
                    <label class="form-label me-3" style="color: white; font-size: larger;">Desired Weight:</label>
                    <input name="weight_goal" id="desiredWeightInput" type="text" class="form-control" placeholder="{{user_info[10]}} kg" aria-label="Recipient's weight" style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;" value="{{user_info[10]}}" readonly>
                    <button class="btn btn-outline-light" type="button" id="desiredWeightButton"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                      </svg></button>
                </div>
            </div>
            <div class="col-md-7"></div>
            <div class="col-md-5">
                <label for="validationServer04" class="form-label">Goal</label>
                <select name="goal" class="form-select" value="{{user_info[7]}}" required>
                    <option selected disabled value="">Choose...</option>
                    <option>Maintain Weight</option>
                    <option>Lose Weight</option>
                    <option>Gain Weight</option>

                </select>
            </div>
            <div class="col-md-5">
                <label for="validationServer04" class="form-label">Activity Level</label>
                <select name="activity" class="form-select" value="{{user_info[11]}}" required>
                    <option selected disabled value="">Choose...</option>
                    <option>Sedentary</option>
                    <option>Lightly Active</option>
                    <option>Moderately Active</option>
                    <option>Very Active</option>

                </select>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>
<script>
    // Reusable function to handle input editing
    function toggleEdit(inputId, buttonId, originalPlaceholder, isSelect = false, selectOptions = [], currentValue = '') {
        const inputField = document.getElementById(inputId);
        const editButton = document.getElementById(buttonId);

        editButton.addEventListener("click", function() {
            if (inputField.readOnly) {
                // When input is readonly, allow editing
                inputField.readOnly = false;
                inputField.placeholder = '';
                inputField.focus();
            }
        });
    }
        // Initialize the toggle function for each input field
        toggleEdit("usernameInput", "userButton", "@{{user_info[2]}}");
        toggleEdit("ageInput", "ageButton", "{{user_info[5]}}");
        toggleEdit("heightInput", "heightButton", "{{user_info[8]}} cm");
        toggleEdit("weightInput", "weightButton", "{{user_info[9]}} kg");
        toggleEdit("desiredWeightInput", "desiredWeightButton", "{{user_info[10]}} kg");
</script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>